body {
    background-image: url("./background.jpg");
    font-size: 20px;
    color:white;
}

.name-form{
    display: flex;
    flex-flow: row;
    background-color: #8b94b9;
    border: #292950;
    width: 150px;
    margin:auto;
    padding: 0;
    border-radius: 5%;
    position: fixed;
    top: 1%;
    left: 90%;
}

.name-form * {
    margin: 2% auto 2% auto;
}
#submit-btn {
    height: 100%;
    width: auto;
}

input {
    width: 80%;
    padding: 3% 0 3% 3%;
    font-size: 15px;
    margin: 0;
    height: 100%;
    color: black;
    background-color: inherit;
    border: none;
}

input:active {
    border: none;
}


.weather-div{
    background: transparent;
    align-items: center;
    width: 30vw;
    display: grid;
    grid-template-areas: "h1 h1"
                         "desc temp"
                         "desc temp"
                         "humidity temp";
    padding: 0;
    margin: 10% auto auto 10%;
}
.weather-div * {
    padding: 5px;
}

.desc-div{
    display: flex;
    flex-flow: column wrap;
    grid-area: desc;
}
.temp-div{
    display: flex;
    flex-flow: column wrap;
    grid-area: temp;
}

.temp-div * {
    margin-right: 0;
    padding: 0;
}
.hidden-div {
    display: hidden;
}

#source{
    position:fixed;
    right: 0;
    bottom: 0;
    font-size: 15px;
}

